body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

* {
    box-sizing: border-box; 
}

body {
    display: grid;
    justify-content: center;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 15% 50% 15%;
    grid-gap: 20px;
    background-color: white;
}

.left {
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    background-color: lightgray;
    text-align: center;
}

.middle {
    display: grid;
    height: 100%;
    grid-template-rows: 10% 90%;
    grid-gap: 20px;

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.mid-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.mid-column {
    display: grid;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    background-color: lightgray;
    text-align: center;
}
