body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

/* body {
    display: flex;
    justify-content: center;
} */

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 50% 15%;
    background-color: lightgray;
}

.left {
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15%
}

.middle {
    display: grid;
    grid-template-rows: 30% 90%;
}
.mid-main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.mid-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    max-width: 60px;
}
